[submodule "weather"]
	path = weather
	url = git@github.com:felixhageloh/weather-widget.git
[submodule "CPU-Usage-bar-Widget"]
	path = CPU-Usage-bar-Widget
	url = git@github.com:DaniBarca/CPU-Usage-bar-Widget.git
[submodule "memory-bar"]
	path = memory-bar
	url = git@github.com:cobyism/ubersicht-memory-bar.git
[submodule "simple-clock"]
	path = simple-clock
	url = git@github.com:soberstadt/simple-clock-widget.git
[submodule "github-contributions"]
	path = github-contributions
	url = git@github.com:cobyism/ubersicht-github.git
[submodule "circleci-widget"]
	path = circleci-widget
	url = git@github.com:andremedeiros/circleci-widget.git
[submodule "roundClock"]
	path = roundClock
	url = https://github.com/phaseOne/roundClock.git
[submodule "mailcount"]
	path = mailcount
	url = git@github.com:wfalkwallace/mailcount.git
[submodule "currency-converter"]
	path = currency-converter
	url = https://github.com/kikorb/currency-conversor.git
[submodule "statuscake"]
	path = statuscake
	url = https://github.com/things/uebersicht-statuscake.git
[submodule "tmstatus"]
	path = tmstatus
	url = https://github.com/rudders/tmstatus.git
[submodule "batteryDetails.widget"]
	path = batteryDetails.widget
	url = https://github.com/bausi2k/batteryDetails.widget
[submodule "only-this"]
	path = only-this
	url = https://github.com/bgartenmann/uebersicht-only-this-widget.git
[submodule "Rdio-Widget"]
	path = Rdio-Widget
	url = https://github.com/larkov/Rdio-Widget.git
[submodule "mbta-widget"]
	path = mbta-widget
	url = https://github.com/joshuaswilcox/mbta-widget
[submodule "Stock-quotes-Widget"]
	path = Stock-quotes-Widget
	url = https://github.com/edasque/Stock-quotes-Widget
[submodule "ScoreTicker"]
	path = ScoreTicker
	url = https://github.com/jckimmel/ScoreTicker
[submodule "CurrLocation"]
	path = CurrLocation
	url = https://github.com/jckimmel/CurrLocation
[submodule "horizontal-calendar-widget"]
	path = horizontal-calendar-widget
	url = https://github.com/ashikahmad/horizontal-calendar-widget
[submodule "prayer-time-widget"]
	path = prayer-time-widget
	url = https://github.com/ashikahmad/prayer-time-widget
[submodule "analog-clock-widget"]
	path = analog-clock-widget
	url = https://github.com/ashikahmad/analog-clock-widget
[submodule "SPS"]
	path = SPS
	url = https://github.com/wilsongis/uebersicht-SPS_Widget
[submodule "bart-widget"]
	path = bart-widget
	url = https://github.com/MatisseHack/bart-widget
[submodule "craigslist"]
	path = craigslist
	url = https://github.com/stursby/uebersicht-craigslist
[submodule "things.widget"]
	path = things.widget
	url = https://github.com/digitalbias/things.widget
[submodule "cjdns"]
	path = cjdns
	url = https://github.com/lukevers/uber-cjdns.git
[submodule "vertical-calendar"]
	path = vertical-calendar
	url = https://github.com/ziti/uebersicht-calendar-widget
[submodule "d3-clock"]
	path = d3-clock
	url = https://github.com/cmaurer/d3-clock-uebersicht-widget.git
[submodule "weathernow"]
	path = weathernow
	url = https://github.com/briandconnelly/weathernow-widget
[submodule "trello"]
	path = trello
	url = https://github.com/NickBusey/Ubersicht-Trello-Widget
[submodule "muni.widget"]
	path = muni.widget
	url = https://github.com/dmaurath/muni.widget.git
[submodule "slideshow"]
	path = slideshow
	url = https://github.com/mpandrews2000/slideshow.git
[submodule "git-log"]
	path = git-log
	url = https://github.com/DigitallyBorn/Ubersicht-Git-Log.git
[submodule "wunderlist-tasks"]
	path = wunderlist-tasks
	url = https://github.com/NikitaBazhenov/UbersichtWunderlistTasks
[submodule "Youtube-Channel"]
	path = Youtube-Channel
	url = https://github.com/atika/Ubersicht-Youtube
[submodule "countdown"]
	path = countdown
	url = https://github.com/anuragbakshi/Countdown-Widget
[submodule "fever-hotlinks"]
	path = fever-hotlinks
	url = https://github.com/telega/fever-widget.git
[submodule "GitFinder"]
	path = GitFinder
	url = https://github.com/atika/Ubersicht-GitFinder
[submodule "ical-widget"]
	path = ical-widget
	url = https://github.com/djbrooks111/ical-widget.git
[submodule "spaceAPI"]
	path = spaceAPI
	url = https://github.com/Kaweechelchen/spaceAPI-widget.git
[submodule "Set-networking"]
	path = Set-networking
	url = https://github.com/brookesdjb/Set-networking.widget
[submodule "github-notifications"]
	path = github-notifications
	url = https://github.com/mtscout6/uebersicht-github-notifications.git
[submodule "gcal-widget"]
	path = gcal-widget
	url = https://github.com/mattk410/gcal-widget
[submodule "authentic-weather"]
	path = authentic-weather
	url = https://github.com/reduxd/authentic-ubersicht.git
[submodule "pretty-weather"]
	path = pretty-weather
	url = https://github.com/felixhageloh/pretty-weather.git
[submodule "omnifocus-widget"]
	path = omnifocus-widget
	url = https://github.com/fitzagard/omnifocus-widget.git
[submodule "ping-history"]
	path = ping-history
	url = https://github.com/bonus-tm/uebersicht-ping-history.widget.git
[submodule "cpu-bar"]
	path = cpu-bar
	url = https://github.com/PerishableDave/ubersicht-cpu-bar.git
[submodule "anydo"]
	path = anydo
	url = https://github.com/mislavcimpersak/anydo-widget
[submodule "CoverArt"]
	path = CoverArt
	url = https://github.com/slowburn/CoverArt
[submodule "grid-launcher"]
	path = grid-launcher
	url = https://github.com/ddgond/uebersicht-grid-launcher
[submodule "trash-size"]
	path = trash-size
	url = https://github.com/MrKireko/trash-size.git
[submodule "battery-charge"]
	path = battery-charge
	url = https://github.com/bcseda/BatteryCharge.git
[submodule "uberist"]
	path = uberist
	url = https://github.com/chagel/uberist.git
[submodule "earth_view"]
	path = earth_view
	url = https://github.com/Maggick-/earth_view
[submodule "markdown_cheat_sheet"]
	path = markdown_cheat_sheet
	url = https://github.com/jacksonfylle/Ubersicht
[submodule "morning"]
	path = morning
	url = git@github.com:imRohan/ubersicht-morning.widget.git
[submodule "macports"]
	path = macports
	url = git@github.com:Maggick-/macports.git
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/piresbruno/uebersicht-jenkins
[submodule "google-cal"]
	path = google-cal
	url = https://github.com/dimitri-koenig/uebersicht-widget-for-google-cal
[submodule "swiss-sbb-connections"]
	path = swiss-sbb-connections
	url = git@github.com:dimitri-koenig/uebersicht-widget-for-swiss-transport-data.git
[submodule "Time-in-Words"]
	path = Time-in-Words
	url = https://github.com/behoernchen/Time-in-Words.git
