[submodule "weather"]
	path = weather
	url = git@github.com:felixhageloh/weather-widget.git
[submodule "CPU-Usage-bar-Widget"]
	path = CPU-Usage-bar-Widget
	url = git@github.com:DaniBarca/CPU-Usage-bar-Widget.git
[submodule "memory-bar"]
	path = memory-bar
	url = git@github.com:cobyism/ubersicht-memory-bar.git
[submodule "simple-clock"]
	path = simple-clock
	url = git@github.com:soberstadt/simple-clock-widget.git
[submodule "github-contributions"]
	path = github-contributions
	url = git@github.com:cobyism/ubersicht-github.git
