[submodule "weather"]
	path = weather
	url = git@github.com:felixhageloh/weather-widget.git
[submodule "CPU-Usage-bar-Widget"]
	path = CPU-Usage-bar-Widget
	url = git@github.com:DaniBarca/CPU-Usage-bar-Widget.git
