.button,nav a,nav a:link,nav a:visited,#installation .close-button{padding:4px 16px;border:2px solid #86585a;font-size:12px;text-decoration:none;-webkit-border-radius:2px;border-radius:2px;display:block;}
.button:hover,nav a:hover,nav a:link:hover,nav a:visited:hover,#installation .close-button:hover,.button.active,nav a.active,nav a:link.active,nav a:visited.active,#installation .close-button.active{color:#fff;background:#86585a;text-decoration:none}
.widget{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;font-size:14px;height:292px;padding-bottom:40px;padding:16px;position:relative;vertical-align:top;width:292px;word-spacing:normal;overflow:hidden;}
.widget .screenshot{height:160px;position:relative;background:#fafafa;overflow:hidden;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.25);box-shadow:0 0 0 1px rgba(0,0,0,0.25);-webkit-border-radius:1px;border-radius:1px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 1px;}
.widget .screenshot .image{position:absolute;top:0;left:0;right:0;bottom:0;-webkit-background-size:258px 160px;-moz-background-size:258px 160px;background-size:258px 160px;background-repeat:no-repeat;background-position:left center}
.widget .screenshot .image-shadow{-webkit-filter:blur(10px);opacity:.4;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:alpha(opacity=40);display:none}
.widget h1{font-size:18px;font-style:italic;margin:8px 0;text-align:left;font-weight:500;opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70)}
.widget p{margin:8px 0}
.widget .details,.widget .details:link,.widget .details:visited{position:absolute;top:40px;left:16px;right:16px;height:160px;text-decoration:none;background:rgba(255,255,255,0.5);color:#152033;padding:2px 12px 16px 12px;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);pointer-events:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.widget .details:after,.widget .details:link:after,.widget .details:visited:after{content:attr(title);position:absolute;width:100%;text-align:center;bottom:2px;left:0;font-size:10px;color:#999}
.widget .details p,.widget .details:link p,.widget .details:visited p{vertical-align:top}
.widget a.download{display:block;border-top:1px solid #ddd;font-size:12px;padding-top:6px;text-align:right}
.widget .author{font-size:10px;line-height:24px;position:relative;}
.widget .author em{font-style:normal}
.widget .info{position:relative}
.widget .download-count{position:absolute;right:2px;top:0;word-spacing:0;font-size:11px;line-height:28px;}
.widget .download-count .icon{display:inline-block;font-size:0;height:12px;width:12px;background-image:url("images/arrow.png");background-repeat:no-repeat;vertical-align:middle}
@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx){.widget .download-count .icon{background-image:url("images/arrow@2x.png");-webkit-background-size:11px 12px;-moz-background-size:11px 12px;background-size:11px 12px}
}.widget:hover .details{pointer-events:auto;opacity:1;-ms-filter:none;filter:none}
.widget:hover .screenshot{-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);}
.widget:hover .screenshot .image{-webkit-filter:blur(10px);filter:url("blur.svg#blur");opacity:.4;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:alpha(opacity=40)}
nav{margin:16px 0;font-size:0;position:relative;padding:0 16px;}
nav .sort li{display:inline-block;margin-left:-2px;}
nav .sort li a{-webkit-border-radius:0;border-radius:0}
nav .sort li:first-child{margin-left:0;}
nav .sort li:first-child a{-webkit-border-radius:2px 0 0 2px;border-radius:2px 0 0 2px}
nav .sort li:last-child a{-webkit-border-radius:0 2px 2px 0;border-radius:0 2px 2px 0}
nav .submit{position:absolute;right:8px;top:0}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
body,html{background:#fff;color:#152033;font-family:Ubuntu,Helvetica Neue,Arial,Sans;font-weight:200;line-height:1.5;text-rendering:optimizeSpeed;-webkit-font-smoothing:antialiased;font-size:16px;-webkit-text-size-adjust:none}
h1{font-size:28px;margin:20px 0;text-align:center}
cite{font-style:italic}
a,a:link,a:visited{color:#86585a;text-decoration:none;font-weight:normal;}
a:hover,a:link:hover,a:visited:hover{color:#852a2f;text-decoration:underline}
header{background:rgba(255,255,255,0.95);display:block;position:fixed;top:0;left:0;right:0;z-index:100;}
header h1 p{font-size:12px;padding:0;margin:0;color:#999}
header h1 a{font-style:italic;font-size:12px;word-spacing:normal;display:inline-block;margin:0 8px}
.wrapper{width:584px;margin:0 auto 0 auto;position:relative}
#widget_list{font-size:0;font-style:normal;padding:146px 0 20px 0}
#disclaimer{padding:20px 0;color:#666;text-align:justify;font-size:13px;padding:0 16px;}
#disclaimer h1{font-size:1.2em;text-align:left}
#disclaimer h1,#disclaimer h2{margin:8px 0 4px 0;font-weight:normal}
#disclaimer h2{font-size:1em}
#installation{background:rgba(255,255,255,0.95);position:fixed;top:146px;left:0;right:0;border-bottom:1px solid #ddd;padding-bottom:20px;text-align:left;-webkit-transition:all 500ms;-moz-transition:all 500ms;-o-transition:all 500ms;-ms-transition:all 500ms;transition:all 500ms;-webkit-transform:translate(0,-800px);-moz-transform:translate(0,-800px);-o-transform:translate(0,-800px);-ms-transform:translate(0,-800px);transform:translate(0,-800px);visibility:hidden;}
#installation .wrapper{padding:0 16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#installation.visible{-webkit-transform:none;-moz-transform:none;-o-transform:none;-ms-transform:none;transform:none;visibility:visible}
#installation h1{font-size:16px;font-style:italic;text-align:left;}
#installation h1:before{content:'»';margin-right:8px;font-size:20px;font-weight:bold;color:#999}
#installation h2{font-size:14px;font-weight:500}
#installation p{font-size:14px;margin:4px 8px 16px 0;padding-left:16px;border-left:6px solid #eee;max-width:920px}
#installation .close-button{display:inline-block;margin-top:4px}
#installation .close-icon{color:#152033;position:absolute;right:4px;top:4px;}
#installation .close-icon:hover{text-decoration:none;text-shadow:0 0 2px #aaa}
@media screen and (min-width: 900px){.wrapper{width:876px}
#widget_list{padding-top:126px}
#installation{top:126px}
header h1{margin-bottom:0}
header nav{margin-top:0}
}@media screen and (min-width: 1200px){.wrapper{width:1168px}
}