.button
  padding: 4px 16px
  border: 2px solid #86585a
  font-size: 12px
  text-decoration: none
  border-radius: 2px
  display: block

  &:hover, &.active
    color: #fff
    background: #86585a
    text-decoration: none
