@import 'vars';

.button
  padding: 4px 16px
  border: 2px solid cta-color
  default-text()
  font-size: 14px
  text-decoration: none
  border-radius: 2px
  appearance: none
  background: transparent
  font-weight: 400
  color: cta-color
  line-height: inherit
  cursor: pointer

  &:hover:not(:disabled), &.active
    color: #fff
    background: cta-color
    text-decoration: none
