@import 'vars'
@import 'button'

.drawer
  background: #fff
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding-bottom: 20px
  text-align: left
  transition: all 500ms
  transform: translate(0, -100%)
  visibility: hidden
  z-index: 200

  &.visible
    transform: none
    visibility: visible

  &.active
    header-bg()

  .wrapper
    padding: 0 16px
    width: 600px
    margin: 0 auto
    box-sizing: border-box

  h3
    font-size: 16px
    font-style: italic
    text-align: left
    margin-bottom: 20px

    &:before
      content: '»'
      margin-right: 8px
      font-size: 20px
      font-weight: bold
      color: #999

  h2
    font-size: 16px
    font-weight: 500

  p
    margin: 4px 8px 16px 0;
    padding-left: 16px
    border-left: 6px solid #eee
    max-width: 920px

  .close-button
    @extend .button
    display: inline-block
    margin-top: 4px

  .close-icon
    color: text-color
    position: absolute
    font-size: 24px
    right: 8px
    top: 8px

    &:hover
      text-decoration: none
