.github-readme

  /* headings */

  h1, h2
    text-align: left

  h1
    font-size: 24px
    margin: 20px 0

  h1:first-child
    margin-top:0

  h2
    font-size: 1.2em
    font-weight: 400
    margin: 20px 0 8px

  h3, h4, h5, h6
    margin-top:12px
    margin-bottom:0
    font-weight: 400

  h5, h6
    font-size:0.9em
    line-height:1.0em

  /* end of headings */
  p
    margin:0 0 16px 0

  p:last-child
      margin:0

  #wrapper hr
    width: 100%
    margin: 3em auto
    border: 0
    color: #eee
    background-color: #ccc
    height: 1px
    -webkit-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.75)

  /* lists */
  ol
      list-style: outside decimal

  ul
      list-style: outside disc

  ol, ul
      padding-left:0
      margin-bottom:20px

  ol li
      margin-left:28px

  ul li
      margin-bottom:8px
      margin-left:16px

  ol:last-child, ul:last-child
      margin:0

  li > ol, li > ul
      padding-left:12px

  dl
      margin-bottom:20px

  dl dt
      font-weight:bold
      margin-bottom:8px

  dl dd
      margin-left:0
      margin-bottom:12px

  dl dd:last-child, dl:last-child
      margin-bottom:0

  /* end of lists */
  pre
    white-space: pre-wrap
    width: 96%
    margin-bottom: 20px
    overflow: hidden
    padding: 3px 10px
    background-color: #eee

  code
    font-family: Ubuntu Mono, mono
    white-space: nowrap
    padding: 2px
    background-color: #eee

  pre code
    white-space: pre-wrap
    border: none
    padding: 0
    background-color: transparent
    -webkit-border-radius: 0

  blockquote
    margin-left: 0
    margin-right: 0
    width: 96%
    padding: 0 10px
    border-left: 3px solid #ddd
    color: #777

  table
    margin-left: auto
    margin-right: auto
    margin-bottom: 24px
    border-bottom: 1px solid #ddd
    border-right: 1px solid #ddd
    border-spacing: 0

  table th
    padding: 3px 10px
    background-color: #eee
    border-top: 1px solid #ddd
    border-left: 1px solid #ddd

  table tr

  table td
    padding: 3px 10px
    border-top: 1px solid #ddd
    border-left: 1px solid #ddd

  caption
      font-size: 1.2em
      font-weight: bold
      margin-bottom: 5px

  figure
      display: block
      text-align: center

  #wrapper img
      border: none
      display: block
      margin: 1em auto
      max-width: 100%

  figcaption
      font-size: 0.8em
      font-style: italic

  mark
      background: #fefec0
      padding:1px 3px



  /* classes */

  .markdowncitation

  .footnote
      font-size: 0.8em
      vertical-align: super

  .footnotes ol
      font-weight: bold

  .footnotes ol li p
      font-weight: normal


  /* custom formatting classes */

  .shadow
      -webkit-box-shadow: 0 2px 4px #999

  .source
      text-align: center
      font-size: 0.8em
      color: #777
      margin: -40px
