@import 'nib'
@import 'vars'
@import 'button'
@import 'widget'
@import 'nav'
@import 'drawer'
@import 'widget-details'

global-reset()

body, html
  background: #fff
  default-text()
  color: text-color
  line-height: 1.5
  font-weight: 200
  text-rendering: optimizeSpeed
  -webkit-font-smoothing: antialiased
  font-size: 16px
  -webkit-text-size-adjust: none

h1
  font-size: 28px
  margin: 20px 0
  text-align: center

cite
  font-style: italic

a, a:link, a:visited
  color: cta-color
  text-decoration: none
  font-weight: normal

  &:hover
    color:#852a2f
    text-decoration: underline

input[type=text]
  font-size: 14px
  border-radius: 2px
  border: 2px solid #666
  padding: 4px 8px
  line-height: inherit
  color: text-color
  default-text()
  appearance: none

input[type=text]:hover
  border-color: text-color

input[type=text]:focus
  border-color: cta-color
  outline: none

input[type=submit]
  @extend .button

header
  display: block
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100
  header-bg()

  h1 p
    font-size: 12px
    padding: 0
    margin: 0
    color: #999

  h1 a
    font-style: italic
    font-size: 12px
    word-spacing: normal
    display: inline-block
    margin: 0 8px

#widget_details
  position: fixed
  top: 144px
  left: 0
  right: 0
  bottom: 0
  z-index: 200
  visibility: hidden
  opacity: 0
  transition: opacity 200ms

  .content
    width: 552px // wrapper - 32
    height: 90%
    min-height: 480px
    margin: 0 auto 0 auto
    box-sizing: border-box

    transform: scale(0.9)
    transition: all 300ms 200ms
    transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);

    .details
      width: 240px

    .readme-wrapper
      right: 280px

  &.active
    visibility: visible
    opacity: 1

    .content
      transform: scale(1)

.wrapper
  width: 584px
  margin: 0 auto 0 auto
  position: relative

#widget_list
  font-size: 0
  font-style: normal
  padding: header-height 0 20px 0


#disclaimer
  color: #666
  text-align: justify
  font-size: 13px
  padding: 0 16px 40px 16px

  h1
    font-size: 1.2em
    text-align: left

  h1, h2
    margin: 8px 0 4px 0
    font-weight: normal

  h2
    font-size: 1em

#submit
  label
    font-size: 12px
    display: block

  input[name=repo-url]
    width: 440px;

  #checks
    margin: 16px 0

  li.pending
    color: #999
  li.success
    color: #7ed049
  li.error
    color: #e1004c

#submit_result
  display: none

#open_request
  display: none

@media screen and (min-width: 900px)
  .wrapper
    width: 876px

  #widget_details
    top: 126px

    .content
      width: 844px

      .details
        width: 280px

      .readme-wrapper
        right: 320px

  #widget_list
    padding-top: 126px

  #installation
    top: 126px

  header h1
    margin-bottom: 0

  header nav
    margin-top: 0

@media screen and (min-width: 1200px)
  .wrapper
    width: 1168px

  #widget_details .content
    width: 1132px

    .details
      width: 300px

    .readme-wrapper
      right: 340px


