@import 'nib'

global-reset()

body, html
  background: #fff
  color: #152033;
  font-family: Ubuntu, Helvetica Neue, Arial, Sans
  font-weight: 200
  line-height: 1.5

.wrapper
  width: 600px
  margin: 0 auto

h1
  font-size: 28px
  margin: 20px 0
  font-style: italic
  position: relative

  a, a:link, a:visited
    position: absolute
    right: 0
    top: 6px
    padding: 4px 16px
    border: 2px solid #86585a
    font-size: 12px
    text-decoration: none
    border-radius: 2px

    &:hover
      color: #fff
      background: #86585a

cite
  font-style: italic

a, a:link, a:visited
  color:#86585a
  text-decoration: none
  font-weight: normal

  &:hover
    color:#852a2f
    text-decoration: underline

#widget_list
  font-size: 0
  font-style: normal
  margin: 20px 0

.widget
  border: 1px solid #ddd
  box-sizing: border-box
  display: inline-block
  font-size: 14px
  height: 352px
  margin-bottom: 16px
  padding: 16px
  position: relative
  vertical-align: top
  width: 292px

  &:nth-child(odd)
    margin-right: 16px

  .screenshot
    height: 160px
    position: relative
    background: #fafafa

    .image
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-size: cover
      background-repeat: no-repeat
      background-position: left center

  h1
    font-size: 18px
    font-style: italic
    margin: 8px 0

  p
    margin: 8px 0

  a, a:link, a:visited
    text-decoration: underline

#disclaimer
  padding: 20px 0
  font-size: 13px
  color: #666
  text-align: justify

  h1
    font-size: 15px

  h1, h2
    margin: 8px 0 4px 0
    font-weight: normal

