@import 'nib'
@import 'vars'
@import 'button'
@import 'widget'
@import 'nav'
@import 'widget-details'

global-reset()

header-height = 126px

body, html
  background: #fff
  color: text-color
  font-family: Ubuntu, Helvetica Neue, Arial, Sans
  font-weight: 200
  line-height: 1.5
  text-rendering: optimizeSpeed
  -webkit-font-smoothing: antialiased
  font-size: 16px
  -webkit-text-size-adjust: none

h1
  font-size: 28px
  margin: 20px 0
  text-align: center

cite
  font-style: italic

a, a:link, a:visited
  color:#86585a
  text-decoration: none
  font-weight: normal

  &:hover
    color:#852a2f
    text-decoration: underline

header
  background: rgba(#fff, 0.95)
  display: block
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100
  -webkit-backdrop-filter: blur(10px)

  h1 p
    font-size: 12px
    padding: 0
    margin: 0
    color: #999

  h1 a
    font-style: italic
    font-size: 12px
    word-spacing: normal
    display: inline-block
    margin: 0 8px

#widget_details
  position: fixed
  top: 144px
  left: 0
  right: 0
  bottom: 0
  z-index: 200
  visibility: hidden
  opacity: 0
  transition: opacity 200ms

  .content
    width: 552px // wrapper - 32
    height: 90%
    min-height: 480px
    margin: 0 auto 0 auto
    box-sizing: border-box

    transform: scale(0.9)
    transition: all 300ms 200ms
    transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);

    .details
      width: 240px

    .readme-wrapper
      right: 280px

  &.active
    visibility: visible
    opacity: 1

    .content
      transform: scale(1)

.wrapper
  width: 584px
  margin: 0 auto 0 auto
  position: relative

#widget_list
  font-size: 0
  font-style: normal
  padding: header-height 0 20px 0


#disclaimer
  color: #666
  text-align: justify
  font-size: 13px
  padding: 0 16px 40px 16px

  h1
    font-size: 1.2em
    text-align: left

  h1, h2
    margin: 8px 0 4px 0
    font-weight: normal

  h2
    font-size: 1em

#installation
  background: rgba(#fff, 0.95)
  position: fixed
  top: header-height
  left: 0
  right: 0
  border-bottom: 1px solid #ddd
  padding-bottom: 20px
  text-align: left
  transition: all 500ms
  transform: translate(0, -800px)
  visibility: hidden

  .wrapper
    padding: 0 16px
    box-sizing: border-box

  &.visible
    transform: none
    visibility: visible

  h1
    font-size: 16px
    font-style: italic
    text-align: left

    &:before
      content: '»'
      margin-right: 8px
      font-size: 20px
      font-weight: bold
      color: #999

  h2
    font-size: 14px
    font-weight: 500

  p
    font-size: 14px
    margin: 4px 8px 16px 0;
    padding-left: 16px
    border-left: 6px solid #eee
    max-width: 920px

  .close-button
    @extend .button
    display: inline-block
    margin-top: 4px

  .close-icon
    color: text-color
    position: absolute
    right: 4px
    top: 4px

    &:hover
      text-decoration: none
      text-shadow: 0 0 2px #aaa

@media screen and (min-width: 900px)
  .wrapper
    width: 876px

  #widget_details
    top: 126px

    .content
      width: 844px

      .details
        width: 280px

      .readme-wrapper
        right: 320px

  #widget_list
    padding-top: 126px

  #installation
    top: 126px

  header h1
    margin-bottom: 0

  header nav
    margin-top: 0

@media screen and (min-width: 1200px)
  .wrapper
    width: 1168px

  #widget_details .content
    width: 1132px

    .details
      width: 300px

    .readme-wrapper
      right: 340px


