header nav
  margin: 16px 0
  font-size: 0
  position: relative
  padding: 0 16px

  a, a:link, a:visited
    @extend .button

  .sort
    li
      display: inline-block
      margin-left: -2px

      a
        border-radius: 0
        display: inline-block

      &:first-child
        margin-left: 0

        a
          border-radius: 2px 0 0 2px

      &:last-child
        a
          border-radius: 0 2px 2px 0

  .submit
    position: absolute
    right: 16px
    top: 0


