text-color =  #152033
header-height = 126px
cta-color = #86585a

default-text()
  font-family: Ubuntu, Helvetica Neue, Arial, Sans

header-bg()
  background: rgba(#fff, 0.98)
  -webkit-backdrop-filter: blur(10px)
