.widget
  border: 1px solid #ddd
  box-sizing: border-box
  display: inline-block
  font-size: 14px
  height: 392px
  padding-bottom: 40px
  margin-bottom: 16px
  padding: 16px
  position: relative
  vertical-align: top
  width: 292px
  word-spacing: normal
  margin-right: 8px

  .screenshot
    height: 160px
    position: relative
    background: #fafafa

    .image
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-size: cover
      background-repeat: no-repeat
      background-position: left center

  h1
    font-size: 18px
    font-style: italic
    margin: 8px 0

  p
    margin: 8px 0

  a, a:link, a:visited
    text-decoration: underline
    position: absolute
    bottom: 48px
    right: 16px

  .author
    background: #fafafa
    border-top: 1px solid #ddd
    bottom: 0
    font-size: 11px
    left: 0
    line-height: 36px
    padding: 0 16px
    position: absolute
    right: 0

    em
      font-style: normal

  .download-count
    position: absolute
    right: 16px
    top: 0
    word-spacing: 0

    .icon
      display: inline-block
      font-size: 0
      height: 12px
      width: 12px
      image: 'images/arrow.png' 11px 12px
      background-repeat: no-repeat
      vertical-align: middle

