@import 'github-readme'

#widget_details
  background: #fff

  blurRadius = 30px

  .back-cover
    position: absolute
    top: -(blurRadius)
    left: -(blurRadius)
    bottom: -(blurRadius)
    right: -(blurRadius)
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'30\'/></filter></svg>#blur");
    -webkit-filter: blur(blurRadius)

    pointer-events: none
    opacity: 0.2
    transform: translate3d(0, 0, 0)

    img
      height: 100%
      width: 100%

  .content
    position: relative
    border-radius: 2px
    box-shadow: 0 0 1px 1px rgba(#000, 0.15)

    h1
      margin-top: 0
      font-size: 24px

    .details
      position: absolute
      top: 0
      bottom: 0
      right: 0
      padding: 20px
      background: rgba(#fff, 0.2)

      p
        font-size: 14px

      a.download
        @extend .button
        text-align: center
        margin: 10px 0 20px 0
        line-height: 24px
        font-size: 16px
        display: block

      a.close
        position: absolute
        height: 24px
        width: 24px
        top: 0
        right: 0
        color: #777
        font-size: 18px
        line-height: 30px
        text-decoration: none
        cursor: pointer
        font-weight: 100

        &:hover
          color: #525252

      img
        width: 100%
        max-height: 220px
        box-sizing: border-box
        margin: 20px 0
        box-shadow: 0 0 20px rgba(#000, 0.2)
        border-radius: 2px

    a.github
      position: absolute
      left: 20px
      bottom: 20px

    .readme-wrapper
      position: absolute
      top: 0
      left: 0
      bottom: 0
      background: #fff
      border-radius: 2px 0 0 2px
      padding: 20px 0
      box-shadow: 1px 0 1px -1px rgba(#000, 0.7)

    .readme
      overflow: scroll
      height: 100%
      box-sizing: border-box
      padding: 0 48px

      @extend .github-readme






